<section>
    <div>
        <h3>
            Codar.
        </h3>
        <p>Criamos websites incríveis</p>
    </div>

    <div>
        <h4>Sobre</h4>
        <p>Amamos criar soluções e entregar sites incríveis</p>
    </div>

    <div>
        <h4>Contato</h4>
        <p>123 Av. Manjar - Nárnia</p>
        <p>+55 96 2321-3131</p>
        <a>contato@codar.com</a>
    </div>

    <div class="redes_sociais">
        <h4>Redes sociais</h4>
        <div class="icones">
            <img src="../../../assets/icones/facebook.svg" alt="Icone do Facebook">
            <img src="../../../assets/icones/instagram.svg" alt="Icone do instagram">
            <img src="../../../assets/icones/twitter.svg" alt="Icone do twitter">
        </div>
        
    </div>
</section>